data


CNN/.idea/modules.xml
CNN/.idea/pytorch.iml
CNN/.idea/vcs.xml
CNN/.idea/workspace.xml
CNN/.idea/inspectionProfiles/profiles_settings.xml
CNN/.idea/inspectionProfiles/Project_Default.xml
CNN/4.0/submission.csv
