data


pytorch/.idea/modules.xml
pytorch/.idea/pytorch.iml
pytorch/.idea/vcs.xml
pytorch/.idea/workspace.xml
pytorch/.idea/inspectionProfiles/profiles_settings.xml
pytorch/.idea/inspectionProfiles/Project_Default.xml
pytorch/4.0/submission.csv
