data


pytorch_NN/.idea/modules.xml
pytorch_NN/.idea/pytorch.iml
pytorch_NN/.idea/vcs.xml
pytorch_NN/.idea/workspace.xml
pytorch_NN/.idea/inspectionProfiles/profiles_settings.xml
pytorch_NN/.idea/inspectionProfiles/Project_Default.xml
pytorch_NN/4.0/submission.csv
